@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
}

#snovacka-app {
  width: 100%;
  height: 100%;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px;
}

#snovacka-game-container {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.snovacka-screenplay {
  width: 100%;
  height: 100%;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
}

#snovacka-text-area {
  width: 100%;
  height: 75%;
  max-height: 100%;
  font-size: 1.5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: auto;
  border: black solid 4px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#snovacka-text-area p {
  padding: 10px 50px;
  line-height: 1em;
  text-align: justify;
}

#snovacka-selection-container {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  border: black solid 4px;
  box-sizing: border-box;
}

.snovacka-selection {
  width: 100%;
  margin: 2px 0;
  border: beige solid 2px;
  border-radius: 2px;
  color: black;
  background-color: coral;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.snovacka-selection:hover {
  background-color: chocolate;
}

.snovacka-selection * {
  text-align: center;
  padding: 5px;
  font-size: 1.4em;
}

.snovacka-selection-number {
  width: 5%;
  border-right: beige solid 2px;
}

.snovacka-selection-prompt {
}

#snovacka-sidebar {
  width: 20%;
  height: 100%;
  margin-right: 2px;
  border: red solid 4px;
  box-sizing: border-box;
}